body{
    background-color:rgba(0, 215, 222, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card{
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows:  300px 300px 100px;
    grid-template-areas: "image" "text";

    font-family: roboto;
    border-radius: 30px;
    background: rgb(85, 162, 235);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 9);
    text-align: center;

    transition: 0.5s ease; 
    cursor: pointer;
    
}

.image{
    background-image: url(../winkel/css/image/trui\ zwart.jpg);

}

img{
    grid-area: span;
    border-radius: 50px;
    background-size: contain;
}

.card-text{
    grid-area: text;
    margin: 200px;
}

.card-text .date{
    color: red;
    font-size: 30px;
}

.card-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}

